<% flash.each do |type, msg| %>
    <%= msg %>
<% end %>

<h1><%= @user.name %></h1>
<% if @user.admin %>
    <h5>ADMIN</h5>
<% else %>
    <h5>Mood: <%= @user.mood %></h5>
    <h5>Tickets: <%= @user.tickets %></h5>
    <h5>Height: <%= @user.height %></h5>
<% end %>
<p><%= link_to 'See attractions', attractions_path %></p>
<p><%= link_to 'Log Out', signout_path %></p>